<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Convocatorias {% if 'ejemplares' in request.GET %}Ejemplares{% else %}Contaminadas{% endif %}{% endblock %} &mdash; Plan de Implementación de Software Libre y Estándares Abiertos</title>
    <link rel="alternate" href="/convocatorias/feed" title="RSS Feed de Convocatorias" type="application/rss+xml">

    {% block twitter_cards %}
    {% endblock %}

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static 'convocatorias.css' %}">
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h2 class="brand-title">Seguimiento SICOES</h2>
            <h3 class="brand-tagline">Seguimiento por la Comunidad de Software Libre al Plan de Implementación de Software Libre y Estándares Abiertos</h3>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/proxima-fecha">Próxima fecha</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/fechas-pasadas">Fechas pasadas</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        {% block content-header %}
        {% endblock %}
        <div>
            <div class="posts">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
