{% extends "planes/plan_base.html" %}

{% block title %}{{ plan.entidad }} &mdash; Plan Institucional de Implementación de Software Libre y Estándares Abiertos{% endblock %}

{% load twitter_cards %}

{% block twitter_cards %}
    {% summary_card title='Plan de Implementación de Software Libre y Estándares Abiertos' description=card_description %}
{% endblock %}

{% block content-header %}
<h2 class="content-subhead"><a href="/planes/">Planes de Implementación</a></h2>
<h2 class="content-subhead"><a href="/convocatorias">Convocatorias Contaminadas</a> <a class="pure-button" href="/feed/">Feed</a></h2>
<h2 class="content-subhead"><a href="/convocatorias/?ejemplares=true">Convocatorias Ejemplares</a></h2>
{% endblock %}

{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ plan.entidad }}</h2>
        </header>
        <div class="post-description">
            <p>
                El Plan Institucional de Implementación de Software Libre y Estándares Abiertos
                fue recibido por la AGETIC el {{ plan.recibido }},
                {% if plan.días_de_retraso %}
                    con <b>{{ plan.días_de_retraso }}</b>
                {% else %}
                    dentro del plazo
                {% endif %}
                y fue publicado el {{ plan.publicado }}, <b>{{ plan.días_después }}</b>.
            </p>
    {% if plan.estatus == 2 %}
            <p>Este plan ha sido revisado por la
                <a href="http://www.softwarelibre.org.bo/">Comunidad de Software Libre Bolivia</a> el {{ plan.revisado|date }}.
            </p>
        {% if plan.comentarios %}
            <p>{{ plan.comentarios }}</p>
        {% endif %}
    {% else %}
            <p>Este plan no ha sido revisado por la
                <a href="http://www.softwarelibre.org.bo/">Comunidad de Software Libre Bolivia</a> todavía.</p>
    {% endif %}

    {% if plan.fuente %}
            <p>Documento: <a href="{{ plan.documento.url }}">{{ plan.entidad }} &mdash; Plan Institucional de Implementación de Software Libre y Estándares Abiertos</a></p>
    {% endif %}
        </div>
    </section>
</div>
{% endblock %}
